/*keeps the event list centered on page */
.card-list {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/*changes the event card size as screen size increases */
@media screen and (min-width: 560px) {
    .card-list {
        width: 560px;
    }
}

@media screen and (min-width: 767px) {
    .card-list {
        width: 767px;
    }
}

@media screen and (min-width: 1200px) {
    .card-list {
        width: 1200px
    }
}