#navBar  {
    color: #003993;
    background-color: white;    
    text-decoration: none;
    font-family: "Lato", sans-serif;
    height: 60px;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    justify-content: flex-end;    
    padding-bottom: 2em;    
}

.topnav {
    height:60px;    
    transition: 0.7s;
    display: flex; 
}

.small-nav {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

.topnav a:hover {
    color:grey;
}

.topnav img {
    height: 100%;
    width: auto;
  
}

.topnav h2 {
    flex-basis: 100%;
}



.hamburger {
    align-self: flex-start;      
}

@media screen and (max-width: 767px) {
    .topnav h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 767px) {

    .hamburger, .small-nav {
        display: none;
    }

    .topnav {
        flex-basis: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        
    }


}



