/* puts burger menu on the right side of page */
.hamburger {
    align-self: flex-start;      
}

/*styles the contents of the title bar */
#navBar  {
    color: #003993;
    background-color: white;    
    text-decoration: none;
    font-family: "Lato", sans-serif;
    height: 60px;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    justify-content: flex-end;    
    padding-bottom: 2em;    
}

.topnav {
    height:60px;    
    transition: 0.7s;
    display: flex; 
}

/*styles the logo */
.topnav img {
    height: 100%;
    width: auto;  
}

/*styles the burger menu items */
.topnav h2 {
    flex-basis: 100%;
}
.small-nav {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

/*better font size for smaller screens */
@media screen and (max-width: 767px) {
    .topnav h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 767px) {
    /* hides burger menu on larger screens*/
    .hamburger, .small-nav {
        display: none;
    }
}



