.cardText {      
    padding-top: 1em;
    padding-left: 1em;
    display: flex; 
    flex-direction: row;    
    justify-content: space-around;
}

.card {  
    padding-bottom:10px;
    font-family: "Roboto", sans-serif;
    border-radius: 1em;
    margin-bottom: 1em;
    background-color: white;
    transition: .4s;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.media-container {
    width: 100%;    
    overflow: hidden;
}

.resp-media {    
    top: 0;
    left: 0;
    width: 100%;
    height: auto;   
    border: 0;
}

.detail {
    width: 130px;
}

.info-button {
    align-self: center; 
    margin-right: 1em;
}
.title-small {
    padding-top: 10px;
}

.shortdescription {
    display: none;
}

.title-large {
    display:none;    
}

@media screen and (min-width:767px) {

    .card {
        display: flex;    
        justify-content: center;
        border: none;
        padding: 0;
    }
    .event-card {
       
        border-radius: 15px;
        margin-bottom: 10px;
    }
    
    .info-button {
        align-self: flex-end;
        margin-bottom: 1em;
    }
    .title-large {
        display:initial;       
    }
    .title-small {
        display: none;
    }
    .cardText {
        flex-direction: column; 
        flex-basis: 40%;    
    }  
    .detail {
        align-self: center;
    }  
    .media-container {       
        width: 600px;
        height: auto;
        flex-basis: auto;
        overflow: hidden;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .resp-media {
        width: 100%;
        height: 100%;
    }

  
}

@media screen and (min-width:1200px) {
    .cardText {
        flex-basis: 50%;
    }
    .detail {     
        font-size: 18px;  
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;        
        flex-wrap: nowrap;
    }



    .detail div {
        margin-right: 1em;
    }

    .shortdescription {
        display: initial;
    }   
  



}
